<%= form_for(@paquet_mouse) do |f| %>
  <% if @paquet_mouse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paquet_mouse.errors.count, "error") %> prohibited this paquet_mouse from being saved:</h2>

      <ul>
      <% @paquet_mouse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.text_field :active %>
  </div>
  <div class="field">
    <%= f.label :x %><br>
    <%= f.number_field :x %>
  </div>
  <div class="field">
    <%= f.label :y %><br>
    <%= f.number_field :y %>
  </div>
  <div class="field">
    <%= f.label :pid %><br>
    <%= f.number_field :pid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
